<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{%if page.title %}{{ page.title }} | Angular4Pro {% else %}{{ site.title }}{% endif %}</title>
<link rel="icon" type="image/png" href="https://angular4pro.com/md/images/favicon.png">
<link rel="stylesheet" type="text/css" href="https://angular4pro.com/asset/style-optimised.css">
<meta name="description" content="{% if page.desc %}{{ page.desc | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />    
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ page.keywords | truncate: 160  }}{% endif %}" />
<link rel="canonical" href="{{ page.url | prepend: site.url }}">
<meta name="robots" content="index, follow">
<meta property="author" content="{% if page.author %}{{ page.author }} {% endif %}">
<meta property="og:site_name" content="Angular4pro">
<meta property="og:image" content="{% if page.image %}{{ page.image }} {% endif %}">
<meta property="og:title" content="{%if page.title %}{{ page.title }} | Angular4Pro {% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta property="og:description" content="{% if page.desc %}{{ page.desc | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image %}{{ page.image }} {% endif %}">
<meta name="twitter:description" content="{% if page.desc %}{{ page.desc | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105715643-1"></script>
<script> window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-105715643-1');
</script>
</head>
